<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulair</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header"></div>
    <div class="contener">
        <div class="contener-form">
            <form action="" method="POST">
                <h1>inscription</h1>
                <div class="input-form">
                    <label for="name:">nom</label>
                    <p>
                        <input type="text" name="name">
                    </p>
                </div>
                <div class="input-form">
                    <label for="lastname">prenom</label>
                    <p>
                        <input type="text" name="lastname" id="">

                    </p>
                </div>
                <div class="input-form">
                    <label for="email">email</label>
                    <p>
                        <input type="email" name="email" id="">

                    </p>
                </div>
                <div class="input-form">
                    <label for="number">numero</label>
                    <p>
                    <input type="number" name="number" id="">
                    </p>
                </div>
                <div class="input-form">
                    <input class="button" type="submit" value="submit">
                </div>
            </form>
        </div>

    </div>
    <script src="/js/index.js"></script>
</body>
</html>